name: Android CI

on: ["push", "pull_request"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install Elixir
      run: |
      wget https://packages.erlang-solutions.com/erlang-solutions_2.0_all.deb && sudo dpkg -i erlang-solutions_2.0_all.deb
      sudo apt-get update
      sudo apt-get install esl-erlang inotify-tools
      mkdir $HOME/elixir && cd $HOME/elixir
      wget https://github.com/elixir-lang/elixir/releases/download/v1.11.4/Precompiled.zip
      unzip Precompiled.zip
      echo "$HOME/elixir/bin" >> $GITHUB_PATH

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: bash ./gradlew assembleDebug --stacktrace
    - name: Upload APK
      uses: actions/upload-artifact@v1
      with:
        name: app
        path: app/build/outputs/apk/debug/app-debug.apk